<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999413225080-2rdbvkcgabcr5ugsn9fulf7tcuql843p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999413225080-2rdbvkcgabcr5ugsn9fulf7tcuql843p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999413225080-nvkv9ljg37q88oqdo03kp4u849mi6qjn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0AJ0O5JXZN22h3p72_YaW1_IWZhT-Z4A</string>
	<key>GCM_SENDER_ID</key>
	<string>999413225080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.apt.imdang</string>
	<key>PROJECT_ID</key>
	<string>imdang</string>
	<key>STORAGE_BUCKET</key>
	<string>imdang.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:999413225080:ios:731b31ffafd5db7d847f8d</string>
</dict>
</plist>
